extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/admin.css')

block content

	include ../includes/info-box

	header
		h1 #{header}

	section
		table.style3
			
			each application in applications
				tr.style3
					td.style3 
						p #{application.name}
											
