extends ../layouts/master

block title
    |#{title}

block styles
    link(rel='stylesheet', href='/stylesheets/forms.css')

block content
    header
        h Faculty Apprenticeship Submission
        h5 *Required Fields


    section
        form#faculty-form(method='post', action='/project/form', role='form')
            form
                fieldset#PrimaryFacultyInfo
                    legend Faculty Member Information
                    label(for='form_name') Faculty Name: *
                    table.style1
                        tr
                            td
                                input#form_name.form-control(type='text', name='name', placeholder=' First Last', required='required', data-error='Faculty name is required.')
                                .help-block.with-errors
                    label(for='phone')  Faculty Phone Number: *
                    table.style1
                        tr
                            td
                                input#form_primPhone.required(name='phone', type='tel', placeholder=' ###-###-####',required='required', maxlength='15', size='15')
                                .help-block.with-errors
                    label(for='form_email')  Faculty Email Address: *
                    table.style1
                        tr
                            td
                                input#form_email.form-control(type='', name='email', placeholder=' First.Last@Colorado.edu', required='', data-error='Valid email is required.')
                                .help-block.with-errors
                    label(for='faculty_department')  Faculty Department/Program: *
                    select#faculty_department(name='faculty_department', required='required')
                        option(value='', disabled='disabled', selected='selected') Please Select
                        option(value='AES') Aerospace Engineering Sciences
                        option(value='AM') Applied Mathematics
                        option(value='C&BE') Chemical & Biological Engineering
                        option(value='CE&A') Civil, Environmental and Architectural Engineering
                        option(value='CS') Computer Science
                        option(value='ECEE') Electrical, Computer and Energy Engineering
                        option(value='PHY') Physics
                        option(value='EE') Environmental Engineering
                        option(value='ME') Mechanical Engineering
                        option(value='CSG') Colorado Space Grant
                        option(value='EEd') Engineering Education
                        option(value='ATLAS') ATLAS
                    br
                    br
                    label(for='form_EDC') Does this project have a focus on Engineering for Developing Communities? *
                    table.style1
                        tr
                            td
                                input#edc1(type='radio', name='edc', required='required', value='Yes')
                                |  Yes
                            td
                                input#edc(type='radio', name='edc', required='required', value='No')
                                |  No
                fieldset#SecondaryFacultyInfo
                    legend Optional Secondary Faculty Member
                    label(for='secondary_name')  Faculty Name:
                    table.style1
                        tr
                            td
                                input#form_name.form-control(type='text', name='secondary_name', placeholder=' First Last')
                                .help-block.with-errors
                    label(for='secondary_phone')  Faculty Phone Number:
                    table.style1
                        tr
                            td
                                input#form_secPhone(name='secondary_phone', type='tel', placeholder=' ###-###-####', maxlength='15', size='15')
                                .help-block.with-errors
                    label(for='form_email')  Faculty Email Address:
                    table.style1
                        tr
                            td
                                input#form_email.form-control(type='email', name='secondary_email', placeholder=' First.Last@Colorado.edu', data-error='Valid email is required.')
                                .help-block.with-errors
                    label(for='secondary_faculty_department')  Faculty Department/Program:
                    select#secondary_faculty_department(name='secondary_faculty_department')
                        option(value='', disabled='disabled', selected='selected') Please Select
                        option(value='AES') Aerospace Engineering Sciences
                        option(value='AM') Applied Math
                        option(value='C&BE') Chemical & Biological Engineering
                        option(value='CE&A') Civil, Environmental and Architectural Engineering
                        option(value='CS') Computer Science
                        option(value='ECEE') Electrical, Computer and Energy Engineering
                        option(value='PHY') Physics
                        option(value='EE') Environmental Engineering
                        option(value='ME') Mechanical Engineering
                        option(value='CSG') Colorado Space Grant
                        option(value='EEd') Engineering Education
                        option(value='ATLAS') ATLAS
                    br
                    br
                fieldset#GradStudentPostDoc
                    legend Optional Graduate Student/Post Doctorate Information
                    label(for='post_doc_name')  Name:
                    table.style1
                        tr
                            td
                                input#form_name.form-control(type='text', name='post_doc_name', placeholder=' First Last')
                                .help-block.with-errors
                    label(for='post_doc_phone')  Phone Number:
                    table.style1
                        tr
                            td
                                input#form_postDocPhone(name='postDocPhone', type='tel', placeholder=' ###-###-####', maxlength='15', size='15')
                                .help-block.with-errors
                    label(for='form_email')  Email Address:
                    table.style1
                        tr
                            td
                                input#form_email.form-control(type='email', name='post_doc_email', placeholder=' First.Last@Colorado.edu', data-error='Valid email is required.')
                                .help-block.with-errors
                    br
                fieldset#info
                    legend  Apprenticeship Information
                    label(for='description')  Title or Brief Description of Apprenticeship: *
                    table.style2
                        tr
                            td
                                textarea#description.form-control(name='description', rows='2', required='required', maxlength='80', data-error='Please, provide a description.')
                                .help-block.with-errors
                    label(for='url')
                        br
                        | Website URL to Provide Additional Information:
                    br
                    table.style2
                        tr
                            td
                                input#URL.form-control(type='url', name='url', placeholder=' https://www.website.com')
                                br
                    label(for='requirements')
                        br
                        | Special Requirements for Applicants:
                        fieldset.requirements
                    br
                    br
                    table.style2
                        tr
                            td
                                textarea#requirements.form-control(name='requirements1', placeholder=' 1) Optional', maxlength='200')
                                br
                        tr
                            td
                                textarea#requirements.form-control(name='requirements2', placeholder=' 2) Optional', maxlength='200')
                                br
                        tr
                            td
                                textarea#requirements.form-control(name='requirements3', placeholder=' 3) Optional', maxlength='200')
                                br
                        tr
                            td
                                textarea#requirements.form-control(name='requirements4', placeholder=' 4) Optional', maxlength='200')
                                br
                        tr
                            td
                                textarea#requirements.form-control(name='requirements5', placeholder=' 5) Optional', maxlength='200')
                    label(for='longdescription')
                        br
                        |  Longer Description of Apprenticeship: *
                    br
                    table.style2
                        tr
                            td
                                textarea#longdescription.form-control(name='longdescription', rows='2', required='required', maxlength='1200', data-error='Please, provide a description.')
                                .help-block.with-errors
                                br

                    label(for='areas')
                        br
                        |  Areas to Recruit Students From: *
                        br
                        |	(Only students from the areas you
                        br
                        |	select will be able to apply.)
                        br
                        br
                        input(type='checkbox', onclick="for(c in document.getElementsByName('areas')) document.getElementsByName('areas').item(c).checked = this.checked", name='check', value='All')
                        |	Check/Uncheck All
                        br
                        br
                    br
                    table.style3
                        tr
                            td
                                input(type='checkbox', name='areas', value='aerospace')
                                |  Aerospace Engineering
                            td
                                input(type='checkbox', name='areas', value='electrical')
                                |  Electrical Engineering
                        tr
                            td
                                input(type='checkbox', name='areas', value='mathematics')
                                |  Applied Mathematics
                            td
                                input(type='checkbox', name='areas', value='electrical_computer')
                                |  Electrical and Computer Engineering
                        tr
                            td
                                input(type='checkbox', name='areas', value='architectural')
                                |  Architectural Engineering
                            td
                                input(type='checkbox', name='areas', value='engineering_physics')
                                |  Engineering Physics
                        tr
                            td
                                input(type='checkbox', name='areas', value='chemical')
                                |  Chemical Engineering
                            td
                                input(type='checkbox', name='areas', value='environmental')
                                |  Environmental Engineering
                        tr
                            td
                                input(type='checkbox', name='areas', value='chemical_biological')
                                |  Chemical & Biological Engineering
                            td
                                input(type='checkbox', name='areas', value='engineering_plus')
                                |  Engineering Plus
                        tr
                            td
                                input(type='checkbox', name='areas', value='civil')
                                |  Civil Engineering
                            td
                                input(type='checkbox', name='areas', value='mechanical')
                                |  Mechanical Engineering
                        tr
                            td
                                input(type='checkbox', name='areas', value='computer_science')
                                |  Computer Science
                            td
                                input(type='checkbox', name='areas', value='tech_arts_media')
                                |  Technology, Arts and Media
                    br
                    label(for='supervision_req')  Amount of Supervision Required / Interaction Available: *
                    table.style3
                        tr
                            td
                                input#amountofsup(type='radio', name='supervision_req', required='required', value='Little')
                                | 	Very little supervision; student will need to work largely independently
                        tr
                            td
                                input#amountofsup(type='radio', name='supervision_req', required='required', value='Moderate')
                                | 	Moderate amount of supervision and interaction with others
                        tr
                            td
                                input#amountofsup(type='radio', name='supervision_req', required='required',value='Large')
                                | 	A great deal of supervision and interaction with others
                    br
                    label(for='supervision_provided')  Supervision Provided By: *
                    table.style3
                        tr
                            td
                                input#supprov(type='radio', name='supervision_provided', required='required', value='Faculty')
                                | 	Supervision primarily by faculty supervisor
                        tr
                            td
                                input#supprov(type='radio', name='supervision_provided', required='required', value='Graduate')
                                | 	Supervision primarily by graduate students
                        tr
                            td
                                input#supprov(type='radio', name='supervision_provided', required='required', value='Combo')
                                | 	Supervision primarily a combination of faculty and graduate students
                    br
                    label(for='nature_of_work')  Nature of Work: *
                    table.style3
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work', required='required', value='Theoretical')
                                | 	Nature of work is primarily theoretical, most work on paper/electronic medium
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work', required='required', value='Experimental')
                                | 	Nature of work is primarily experimental, requiring hands-on work in a lab
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work',required='required', value='FieldBased')
                                | 	Nature of work is primarily field based, requiring hands-on work in the field
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work', required='required', value='ComputerRelated')
                                | 	Nature of work is primarily computer-related, involving coding/analysis
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work', required='required', value='Combo')
                                | 	Nature of work is a combination of several types of work.
                        tr
                            td
                                input#nature(type='radio', name='nature_of_work', required='required', value='Other')
                                | 	Other, specify:
                                br
                                input#nature.form-control(type='text', name='nature_of_work_other', maxlength='60')
                                .help-block.with-errors
                    br
                    label(for='prior_work')  Amount of Prior Work Conducted in Association With This Project: *
                    table.style3
                        tr
                            td
                                input#amount(type='radio', name='prior_work', required='required', value='None')
                                | 	No prior work; student will be starting from basic idea
                        tr
                            td
                                input#amount(type='radio', name='prior_work', required='required', value='Some')
                                | 	Some prior work; student will build on work of others
                        tr
                            td
                                input#amount(type='radio', name='prior_work', required='required', value='Refine')
                                | 	Well-established body of work; student will refine/improved upon efforts of others
                        tr
                            td
                                input#amount(type='radio', name='prior_work', required='required', value='Other')
                                | 	Other, specify:
                                br
                                input#amount.form-control(type='text', name='prior_work_other', maxlength='60')
                                .help-block.with-errors
                br
                fieldset#finances
                    legend  Finances
                    label(for='match_of_funding')
                        |  50% Match of Funding Speed Type: *
                        br
                    table.style1
                        tr
                            td
                                input#finances.form-control(name='match_of_funding', type='tel', placeholder=' ########', pattern='^[0-9]{8}', maxlength='8', size='9', data-error='Please, provide a speed type.', required='required')
                        tr
                            td
                                input(type='checkbox', name='not_sure', value='Yes')
                                |  Not Sure
                                br
                                br
                    label(for='contact')
                        |  Accounting Contact for Project: *
                        br
                    table.style1
                        tr
                            td
                                input#contact.form-control(type='text', name='contact', placeholder=' First Last', required='required', data-error='Accounting contact name is required.')
                                br
                        tr
                br
                fieldset#other
                    legend Other
                    label(for='supervised_past')
                        | Have you, the faculty supervisor, supervised a Discovery Learning Apprentice in the past? *
                    table.style1
                        tr
                            td
                                input#Past(type='radio', name='supervised_past', required='required', value='Yes')
                                | Yes
                            td
                                input#Past(type='radio', name='supervised_past', required='required', value='No')
                                | 	No
                    label(for='specific_students')
                        br
                        | Name of Specific Students Desired:
                        br
                    br
                    br
                    br
                    table.style1
                        tr
                            td
                                input#contact.form-control(type='text', name='specific_students1', placeholder=' First Last')
                                br
                        tr
                            td
                                input#contact.form-control(type='text', name='specific_students2', placeholder=' First Last')
                                br
                        tr
                            td
                                input#contact.form-control(type='text', name='specific_students3', placeholder=' First Last')
                                br
                    br
                    br
                    br
                p
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input.btn.btn-success(type='save', value='Save(In progress)')
                    input.btn.btn-success(type='reset', value='Reset')
                    input.btn.btn-success(type='submit', value='Submit')
