extends ../layouts/master

block title
    |#{title}

block styles
    link(rel='stylesheet', href='/stylesheets/forms.css')

block content
    include ../includes/info-box

    header
        h Successful Submission!
    section
        h4
            br
            |	You have successfully completed your application. Please allow time for processing.
            br
            |	Applicants will be notified in early June about the final decision.


