if hasSuccess
	div.info-box.info-box-success
		each message in success
			p #{message}


if hasError
	div.info-box.info-box-error
		each err in error
			p #{err}



if hasErrors
	div.info-box.info-box-error
		each error in errors
			each message in error
				p #{message.msg}
