if hasSuccess
	div.info-box.info-box-success
		each message in success
			p #{message}



if hasError
	div.info-box.info-box-error
		each err in error
			p #{err}


if hasErrors
	each error in errors
		each message in error
			div.info-box.info-box-error
				p #{message.msg}


if hasErrors
	each error in errors
		div.info-box.info-box-error
			p #{error}
