div.info-box.info-box-success
    if hasSuccess
        each message in success
            p #{message}


div.info-box.info-box-error
    if hasErrors
        each message in errors
            p #{message}
