nav
	img(src='/images/culogo.jpg', alt='Colorado University')
	ul

		li.newgroup
			a(href='/') Home
		if(!logout)

			if(login && user && user.type == 'Admin')

				li.newgroup
					a.button.name(href='/admin/application-list') Admin application list
			if(login)
				li.newgroup
					a.button.name(href='/project/list') Project List

			if(login && user && user.type == 'Student')
				li.newgroup
					a.button.name(href='/user/student-home') My Applications
			if(login && user && user.type == 'Faculty')
				li.newgroup
					a.buttin.name(href='/user/faculty-home') My Projects
			if(!login)
				li.newgroup
					a.button.name(href='/user/login') CU Login
				li.newgroup
					a.button.name(href='/user/signup') User Register
			else
				li.newgroup
					a.button.name(href='/user/logout') Logout
