nav
    img(src='/images/culogo.jpg', alt='Colorado University')
    ul

        li.newgroup
            a(href='/') Home
        li.newgroup
            a.button.name(href='/project/list') Project List
        li.newgroup
            a.button.name(href='/user/student-home') My Applications
        li.newgroup
            a.buttin.name(href='/user/faculty-home') My Projects
        li.newgroup
            a.button.name(href='/user/signup') User Register
        li.newgroup
            a.button.name(href='/user/signin') User Login
        li.newgroup
            a.button.name(href='/user/logout') Logout