doctype html
html
  head
    title
        block title

    link(rel='stylesheet', href='/stylesheets/default.css')
    block styles

    script(type='text/javascript')
      |//<![CDATA[
      |var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/")
      |document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"))
      |//]]>


  body
    include ../includes/navigation

    block content

    script(src='https://code.jquery.com/jquery-3.1.1.min.js', integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=', crossorigin='anonymous')


    block scripts

    script(language='JavaScript', type='text/javascript')
      |TrustLogo("https://byteus.me/images/comodo_secure.png", "CL1", "none")

    a#comodoTL(href='https://ssl.comodo.com', target='_blank') SSL Certificates



