doctype html
html
  head
    title
        block title
    link(rel='stylesheet', href='/stylesheets/default.css')
    block styles
  body
    include ../includes/navigation

    block content

    block scripts


