html
	head
		title Faculty Home
		link(rel='stylesheet', href='/stylesheets/forms.css')
	body
		header
			h Faculty Home
			img(src='/images/culogo.jpg', alt='Colorado University')
		nav
			ul
				
				li.newgroup
					a(href='/') Home
				li.newgroup
					a.button.name(href='/projects') Project List
				li.newgroup
					a.button.name(href='/user/logout') Logout
		section
			form#faculty-home(action='/project/form', role='form')
				form
					input.btn.btn-success(type='submit', value='Create New Application')