html
	head
		title Project List 
		link(rel='stylesheet', href='/stylesheets/forms.css')
	body
		header
			h Project List
			img(src='/images/culogo.jpg', alt='Colorado University')
		nav
			ul
				
				li.newgroup
					a(href='/') Home
				li.newgroup
					a.button.name(href='/projects') Project List
				li.newgroup
					a.button.name(href='/logout') Logout
		section
		table.style4
				tr
					td
						each project in projects
							li #{project.description} by #{project.name}
								a(href='/projects/'+project.id+'/view') View Project

