html
	head
		title Successful Submission
		link(rel='stylesheet', href='/stylesheets/forms.css')
	body
		header
			h Successful Submission! 
			img(src='/images/culogo.jpg', alt='Colorado University')
		nav
			ul
				
				li.newgroup
					a(href='/') Home
				li.newgroup
					a.button.name(href='/project/list') Project List
				li.newgroup
					a.button.name(href='/user/logout') Logout
		section
			h4 
				br
				|	You have successfully completed your application. Please allow time for processing. 
				br
				|	Applicants will be notified in early June about the final decision.
			

