extends ../layouts/master

block title
    |#{title}

block styles
    link(rel='stylesheet', href='/stylesheets/forms.css')

block content
    header
        h Faculty Home
    section
        form#faculty-home
            form
                a.buttonstyle(href='/project/form') Create New Application