extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/user-home.css')

block scripts
	script(type='text/javascript',src='/javascripts/faculty-index.js')

block content


	header
		h Faculty Home

	div
	table.style3
		tr.style3
			td.style1(colspan=3)
				a.buttonstyle1(href='/project/form') Create New Project
		if(projects.length > 0)
            tr.style3
                th.style3 Project Name
                th.style3 Complete Description
                th.style3 Actions
		each project in projects
			tr.style3
				td.style3
					p #{project.description}
				td.style3
					li #{project.longdescription}
				td.style3
					a.buttonstyle(href='/project/'+project.id+'/view') View Project
					a.buttonstyle2.delete(href='#', data-projectid=project.id) Delete Project
					if (project.submitted != 'Yes')
						a.buttonstyle(href='/project/'+project.id+'/_edit') Edit Project
					else
						p Project has been submitted.
		tr.style3
			td.style3
			td.style3

