extends ../layouts/master

block content
    header
        h2 You have been successfully logged out. If you had logged in through CU Identikey, please close the browser to completely end your session.
