/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header,
section, nav {
    display: block;
}

/* Set the default page element styles */
* {
    margin: 0px;
    padding: 0px;
    line-height: 2.0em;
    font-family: "Tahoma", Geneva, sans-serif;
}

body {
    background: fixed;
    background: black;
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}


header h {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 65px;
    left: 265px;
    width: 1000px;
    background: black;
    color: white;
}
header h2 {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 195px;
    left: 310px;
    width: 1000px;
    background: black;
    color: white;
}

header h5{
    color: rgb(0,123,200);
    position: absolute;
    font-size: 14px;
    top: 153px;
    left: 275px;
    width: 900px;
    background: black;
}


a {
  color: #00B7FF;
}

/*Navigation Styles*/

nav img {
    border-width: 0px;
    position: absolute;
    top: 0px;
    left: 50px;
}

nav ul {
    position: absolute;
    list-style-type: none;
    border-radius: 5px;
    top: 207px;
    left: 40px;
    list-style-type: none;
    vertical-align: left;

}

nav li a {
    display: block;
    color: white;
    background-color: rgb(31,49,59);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 22px;
    padding: 8px 16px;
    text-decoration: none;
    width: 170px;
}

nav li a:hover {
    background: rgb(0,123,200);
    color: white;
}

section {
    position: absolute;
    background-color: black;
    margin-top: 0px;
    top: 178px;
    left: 290px;
    width: 950px;
}

h4 {
    color: white;
}


