/* Display HTML5 structural elements as blocks */

article, aside, figure, figcaption, footer, hgroup, header, 
section, nav {
   display: block;
}

/* Set the default page element styles */
* {
	margin: 0px; 
	padding: 0px;
	line-height: 2.0em;
	font-family: "Tahoma", Geneva, sans-serif;
}

body {
	background: fixed; 
	background: black;
}


header h {
	font-size: 40px; 
	font-weight: bold; 
	position: absolute;
	top: 65px;
	left: 265px;
	width: 1000px; 
	background: black;
	color: white;
}

header img {
	border-width: 0px;
	position: absolute;
	top: 0px; 
	left: 50px;
}

/*Navigation Styles*/
nav ul {
	position: absolute;
	list-style-type: none;  
	border-radius: 5px; 
	top: 207px;
	left: 40px;
    list-style-type: none;	
	vertical-align: left;
	
}

nav li a {
	display: block;  
	color: white; 
	background-color: rgb(31,49,59);
	border: 1px solid black; 
	border-radius: 5px; 
	font-size: 22px;
	padding: 8px 16px; 	
	text-decoration: none;
	width: 170px;
}
				  
nav li a:hover {
	background: rgb(0,123,200); 
	color: white; 
}

section h5{
	color: white; 
	/*position: absolute;*/
	/*top: 153px;*/
	/*left: 275px;*/
	width: 925px;
	background: black;
}

input[type="Submit"] {
	background-color:  rgb(0,123,200); 
	color: white; 
	font-size: 16px; 
	font-weight: bold;
	text-align: center; 
	border: none; 
	border-radius: 25px;
	float: left;
	margin: 0 15px 0 65px;
	overflow: hidden;
	width: 200px;
	height: 40px;
	display: inline-block;
}

input[type="Submit"]:hover {
	background-color: rgb(31,49,59);
}

