h4 {
    color: white;
}

.search-form {
    color: white;
}

/*Format for project list table*/
table.style3{
    list-style:none;
    color: white;
    width: 800px;
    border-collapse: collapse;
}
th {
    color: #4CAF50;
    padding: 15px;
    border-bottom: 1px solid white;
}
td {
    padding-left: 15px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid white;
}
table.style4{
    list-style:none;
    color: white;
    width: 800px;
    padding-top: 250px;
    padding-left: 300px;
}

table.style5{
    color: white;
    width: 400px;
    padding-top: 250px;
    padding-left: 300px;
}





/*Textbox Styles for names and other checkbox*/

input[type="text"]{
    margin: 5px 0 5px 250px ;
    /*margin-top: 5px;*/
    /*margin-right:0px;*/
    /*margin-bottom: 5px;*/
    /*margin-left: 250px;*/
    width: 340px;
}


/*Button Styles*/



input[type="Submit"] {
    background-color:  rgb(0,123,200);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    /*float: right;*/
    margin: 0 15px 0 65px;
    overflow: hidden;
    width: 200px;
    height: 40px;
    display: inline-block;
}

input[type="Submit"]:hover {
    background-color: rgb(31,49,59);
}










