h4 {
    color: white;
}

h5 {
    color: white;
}

.search-form {
    color: white;
}

div {
    color: white;
    width: 1000px;
    padding-top: 200px;
    padding-left: 300px;
}
/*Format for list table*/
table.style3{
    list-style:none;
    color: white;
    width: 100%;
    padding-left: 300px;
    padding-top: 50px;
    empty-cells: hide;
}
th {
    color: rgb(204,185,120);
    padding: 7px;
    text-align: center;
    border: 1px solid white;
}
td {
    padding: 7px;
    text-align: left;
    vertical-align: center;
    border: 1px solid white;
}
tr:nth-child(even){background-color: rgb(70,70,70);}
table.style4{
    list-style:none;
    color: white;
    width: 800px;
    padding-left: 300px;
    padding-top: 50px;
}

table.style5{
    color: white;
    width: 400px;
    padding-top: 250px;
    padding-left: 300px;
}
td.style1{border: none;}
p {
    width:300px;
}

a.buttonstyle {
    text-decoration: none;
    background-color:  rgb(0,123,200);
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    /*float: right;*/
    margin: 0 15px 0 15px;
    overflow: hidden;
    width: 100px;
    height: 30px;
    display: inline-block;
}

a.buttonstyle1 {
    text-decoration: none;
    background-color:  rgb(0,123,200);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    /*float: right;*/
    margin: 0 15px 0 15px;
    overflow: hidden;
    width: 260px;
    height: 35px;
    display: inline-block;
}


/*Textbox Styles for names and other checkbox*/

input[type="text"]{
    margin: 5px 0 5px 0px ;
    width: 340px;
}
input[type="radio"]{
    margin: 5px 5px 0 5px ;
    position: relative;
    /*margin: 5px 5px 5px 5px ;*/
    width: 20px;
}
input[type="checkbox"]{
    margin: 5px 5px 0 5px ;
    position: relative;
    /*margin: 5px 5px 5px 5px ;*/
    width: 20px;
}

/*Button Styles*/

input[type="Submit"] {
    background-color:  rgb(0,123,200);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    /*float: right;*/
    margin: 0 15px 0 65px;
    overflow: hidden;
    width: 200px;
    height: 40px;
    display: inline-block;
}

input[type="Submit"]:hover {
    background-color: rgb(31,49,59);
}
