extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/tempforindex.css')

block content
	header
		h Discovery Learning Apprenticeship
		h5
			|	This page is still in progress. IdentiKey login will be used soon.
			|	For now, please fill out the required CU Login Name and Identikey
			|	Password. Once that is filled out, select the "Student" button
			|	if you are a student or select the "Faculty" button if you are
			|	faculty. This will insure that you  are directed to the proper forms.
			|	Also, the project lists may later be displayed on this page.

	section
	table.style5
		tr
			td
				label(for='cu_username') CU Login Name:
					table.style1
						tr
							td
								input#form_name.form-control(type='text', name='name', required='required', data-error='CU Login Name is required')
								.help-block.with-errors
				label(for='IdentiKey_pass') IdentiKey Password: :
					table.style1
							tr
								td
									input#form_name.form-control(type='text', name='name', required='required', data-error='IdentiKeyPassword is required')
									.help-block.with-errors
	table.style2
		tr
			td
				a.buttonstyle(href='/user/student-home') Student
			td
				a.buttonstyle(href='/user/faculty-home') Faculty
				


