extends ../layouts/master

block title
	|#{title}

block styles
	link(rel='stylesheet', href='/stylesheets/application.css')


block content
	header
		h Student Apprenticeship Application
		h5 *Required Fields

	section
		form#sudent-form(method='post', action='/application/form?_csrf='+csrfToken, role='form', enctype='multipart/form-data')
			form
				fieldset#StudentInfo
					legend Student Demographics
					label(for='form_name') Name: *
					table.style
						tr
							td
								input#form_name.form-control(type='text', name='name', placeholder=' First Last', required='required', data-error='Student name is required.')
								.help-block.with-errors
					label(for='ID') Student Identification Number: *
					table.style
						tr
							td
								input#id.form-control(name='sid', type='tel', placeholder=' #########', pattern='^[0-9]{9}', maxlength='9', size='10', data-error='Please, provide your student identification number.', required='required')
					label(for='Gen') Gender *
					table.style1
						tr
							td
								input#Gen(type='radio', name='gender', required='required', value='Female')
								|  Male
							td
								input#Gen(type='radio', name='gender', required='required', value='Male')
								|  Female
					label(for='Origin') Are you of Hispanic or Latino origin? *
					table.style2
						tr
							td
								input#Origin(type='radio', name='origin', required='required', value='Yes')
								|  Yes
						tr
							td
								input#Orgin(type='radio', name='origin', required='required', value='No')
								|  No
						tr
							td
								input#Origin(type='radio', name='origin', required='required', value='Do not wish to answer')
								|  I do not wish to provide this information
					label(for='Race')
						|	Please select your race. *
						br
						|	(Check all that apply)
					table.style3
						tr
							td
								input(type='checkbox', name='race', value='AIorAN')
								|  American Indian or Alaskan Native
						tr
							td
								input(type='checkbox', name='race', value='BorAA')
								|  Black or African-American
						tr
							td
								input(type='checkbox', name='race', value='AIorAN')
								|  American Indian or Alaskan Native
						tr
							td
								input(type='checkbox', name='race', value='NHorPI')
								|  Native Hawaiian or other Pacific Islander

						tr
							td
								input(type='checkbox', name='race', value='Asian')
								|  Asian
						tr
							td
								input(type='checkbox', name='race', value='Caucasian')
								|  Caucasian
						tr
							td
								input(type='checkbox', name='race', value='DNW')
								|  I do not wish to provide this information
						br
						br
					legend Boulder Contact Information
					label.add(for='form_add') Street Address: *
					table.style
						tr

							td
								input#add.form-control(type='text', name='street_address', placeholder=' Street Address', required='required', data-error='Street address is required.')
								.help-block.with-errors
					label.add(for='city') City: *
					table.style
						tr

							td
								input#city.control(type='text', name='city', placeholder=' City', required='required', data-error='City is required.')
								.help-block.with-errors
					label.add(for='state') State: *
					select#state(name='state', required='required')
						option(value='AL') Alabama
						option(value='AK') Alaska
						option(value='AZ') Arizona
						option(value='AR') Arkansas
						option(value='CA') California
						option(value='CO', selected='selected') Colorado
						option(value='CT') Connecticut
						option(value='DE') Delaware
						option(value='DC') District Of Columbia
						option(value='FL') Florida
						option(value='GA') Georgia
						option(value='HI') Hawaii
						option(value='ID') Idaho
						option(value='IL') Illinois
						option(value='IN') Indiana
						option(value='IA') Iowa
						option(value='KS') Kansas
						option(value='KY') Kentucky
						option(value='LA') Louisiana
						option(value='ME') Maine
						option(value='MD') Maryland
						option(value='MA') Massachusetts
						option(value='MI') Michigan
						option(value='MN') Minnesota
						option(value='MS') Mississippi
						option(value='MO') Missouri
						option(value='MT') Montana
						option(value='NE') Nebraska
						option(value='NV') Nevada
						option(value='NH') New Hampshire
						option(value='NJ') New Jersey
						option(value='NM') New Mexico
						option(value='NY') New York
						option(value='NC') North Carolina
						option(value='ND') North Dakota
						option(value='OH') Ohio
						option(value='OK') Oklahoma
						option(value='OR') Oregon
						option(value='PA') Pennsylvania
						option(value='RI') Rhode Island
						option(value='SC') South Carolina
						option(value='SD') South Dakota
						option(value='TN') Tennessee
						option(value='TX') Texas
						option(value='UT') Utah
						option(value='VT') Vermont
						option(value='VA') Virginia
						option(value='WA') Washington
						option(value='WV') West Virginia
						option(value='WI') Wisconsin
						option(value='WY') Wyoming
					br
					label.add(for='zip')  Postal Code: *
					table.style
						tr
							td
								input#form_Zip.required(name='zip', type='tel', placeholder=' #####',required='required', maxlength='5', size='6')
								.help-block.with-errors
					label.add(for='form_phone')  Phone Number: *
					table.style
						tr
							td
								input#form_primPhone.required(name='phone', type='tel', placeholder=' (xxx) xxx-xxxx',required='required', maxlength='15', size='15')
								.help-block.with-errors
					label.add(for='form_email')  CU Email Address: *
					table.style
						tr
							td
								input#form_email.form-control(type='email', name='email', placeholder=' First.Last@Colorado.edu', required='required', data-error='Valid email is required.')
								.help-block.with-errors
					legend Summer Contact Information
					h5 *This is only required if this information is different from your Boulder Contact Information.
					label.add(for='secAdd') Street Address:
					table.style
						tr

							td
								input#form-control(type='text', name='summer_street_address', placeholder=' Street Address')
								.help-block.with-errors
					label.add(for='secCity') City:
					table.style
						tr

							td
								input#secCity.control(type='text', name='summer_city', placeholder=' City')
								.help-block.with-errors
					label.add(for='state') State: 
					select#state(name='summer_state')
						option(value='AL') Alabama
						option(value='AK') Alaska
						option(value='AZ') Arizona
						option(value='AR') Arkansas
						option(value='CA') California
						option(value='CO', selected='selected') Colorado
						option(value='CT') Connecticut
						option(value='DE') Delaware
						option(value='DC') District Of Columbia
						option(value='FL') Florida
						option(value='GA') Georgia
						option(value='HI') Hawaii
						option(value='ID') Idaho
						option(value='IL') Illinois
						option(value='IN') Indiana
						option(value='IA') Iowa
						option(value='KS') Kansas
						option(value='KY') Kentucky
						option(value='LA') Louisiana
						option(value='ME') Maine
						option(value='MD') Maryland
						option(value='MA') Massachusetts
						option(value='MI') Michigan
						option(value='MN') Minnesota
						option(value='MS') Mississippi
						option(value='MO') Missouri
						option(value='MT') Montana
						option(value='NE') Nebraska
						option(value='NV') Nevada
						option(value='NH') New Hampshire
						option(value='NJ') New Jersey
						option(value='NM') New Mexico
						option(value='NY') New York
						option(value='NC') North Carolina
						option(value='ND') North Dakota
						option(value='OH') Ohio
						option(value='OK') Oklahoma
						option(value='OR') Oregon
						option(value='PA') Pennsylvania
						option(value='RI') Rhode Island
						option(value='SC') South Carolina
						option(value='SD') South Dakota
						option(value='TN') Tennessee
						option(value='TX') Texas
						option(value='UT') Utah
						option(value='VT') Vermont
						option(value='VA') Virginia
						option(value='WA') Washington
						option(value='WV') West Virginia
						option(value='WI') Wisconsin
						option(value='WY') Wyoming
					br
					label.add(for='summer_zip') Postal Code
					table.style
						tr
							td
								input#form_secZip.required(name='summer_zip', type='tel', placeholder=' #####', maxlength='5', size='6')
								.help-block.with-errors
					label.add(for='secPhone') Phone Number: 
					table.style
						tr
							td
								input#form_secPhone.required(name='summer_phone', type='tel', placeholder=' (xxx) xxx-xxxx', maxlength='15', size='15')
								.help-block.with-errors
					label.add(for='form_secEmail') Email Address: 
					table.style
						tr
							td
								input#secEmail.form-control(type='summer_email', name='email', placeholder=' First.Last@Colorado.edu')
								.help-block.with-errors
					br
					
					legend Academic Information
					label(for='primary_major') Primary Major: *
					select.major#primary-major(name='primary_major', required='required')
						option(value='', disabled='disabled', selected='selected') Please Select
						option(value='AEE') Aerospace Engineering
						option(value='AM') Applied Mathematics
						option(value='ARE') Architectural Engineering
						option(value='CE') Chemical Engineering
						option(value='C&BE') Chemical & Biological Engineering
						option(value='CVE') Civil Engineering
						option(value='CS') Computer Science
						option(value='EE') Electrical Engineering
						option(value='E&CE') Electrical & Computer Engineering
						option(value='PHY') Engineering Physics
						option(value='EE') Environmental Engineering
						option(value='EP') Engineering Plus
						option(value='ME') Mechanical Engineering
						option(value='TAM') Technology, Art, and Media 
					br
					label(for='secondary-major') Secondary Major: 
					select.major#secondary-major(name='secondary_major')
						option(value='', selected='selected') I do not have a secondary major.
						option(value='AEE') Aerospace Engineering
						option(value='AM') Applied Mathematics
						option(value='ARE') Architectural Engineering
						option(value='CE') Chemical Engineering
						option(value='C&BE') Chemical & Biological Engineering
						option(value='CVE') Civil Engineering
						option(value='CS') Computer Science
						option(value='EE') Electrical Engineering
						option(value='E&CE') Electrical & Computer Engineering
						option(value='PHY') Engineering Physics
						option(value='EE') Environmental Engineering
						option(value='EP') Engineering Plus
						option(value='ME') Mechanical Engineering
						option(value='TAM') Technology, Art, and Media
					br
					label(for='GPA') GPA *
					table.style4
						tr
							td
								input#gpa(name='gpa', type='tel', placeholder=' #.###', maxlength='5', size='5', data-error='Please, provide your GPA.', required='required')
					label(for='level') Next Fall's Level in School: * 
					select#level(name='next_fall_level', required='required')
						option(value='', disabled='disabled', selected='selected') Please Select
						option(value='Freshman') Freshman 
						option(value='Sophomore') Sophomore 
						option(value='Junior') Junior
						option(value='Senior') Senior
						option(value='5th Year Senior') 5th Year Senior
						
					label(for='graduation') Anticipated Graduation Date: * 
					select#graduation(name='grad_month',required='required')
						option(value='', disabled='disabled', selected='selected') Month
						option(value='May') May 
						option(value='August') August 
						option(value='December') December
					select#graduation(name='grad_year',required='required')
						option(value='', disabled='disabled', selected='selected') Year
						option(value='2017') 2017 
						option(value='2018') 2018 
						option(value='2019') 2019
						option(value='2020') 2020
						option(value='2021') 2021
						option(value='2022') 2022
						option(value='2023') 2023
					label(for='experience') Do you have previous research experience? *
					table.style5
						tr
							td
								input#experience(type='radio', name='prev_research_exp', required='required', value='Yes')
								|  Yes
							td
								input#experience(type='radio', name='prev_research_exp', required='required', value='No')
								|  No (This does not effect your eligibility.)
					legend Apprenticeship Information
					label(for='before') Have you applied for a Discover Learning Apprenticeship before? *
					table.style
						tr
							td
								input#before(type='radio', name='prev_application', required='required', value='Yes')
								|  Yes
							td
								input#before(type='radio', name='prev_application', required='required', value='No')
								|  No 
							td
								input#before(type='radio', name='prev_application', required='required', value='Not Sure')
								|  Not Sure
					label(for='employment') Other fall employment plans:
					table.style
						tr
							td
								br
								textarea#employment(type='text', name='fall_employment_plans', maxlength='200', placeholder=' Fall employment plans')
								.help-block.with-errors
								span#char_count 200
								|  characters remaining
					br
					h5 *Please make sure that you selected a major before proceeding. 
					label.aca(for='selection1') Please select up to five projects you would like to be considered for.
					table.style6
						tr
							td
								select.level#level(name='most_interest', required='required')
									option(value='', disabled='disabled', selected='selected') Most Interest 
									option(value='Test') Test 
							br
						tr
							td
								select.level#level(name='high_interest')
									option(value='', disabled='disabled', selected='selected') High Interest 
									option(value='Test') Test
								br
						tr
							td
								select.level#level(name='moderate_interest')
									option(value='', disabled='disabled', selected='selected') Moderate Interest 
									option(value='Test') Test
								br
						tr
							td
								select.level#level(name='low_interest')
									option(value='', disabled='disabled', selected='selected') Low Interest 
									option(value='Test') Test
								br
						tr
							td
								select.level#level(name='least_interest')
									option(value='', disabled='disabled', selected='selected') Least Interest
									option(value='Test') Test
					br
					label.aca(for='background') Have you had a background check at CU? *
					table.style
						tr
							td
								input#background(type='radio', name='background_check', required='required', value='Yes')
								|  Yes
							td
								input#background(type='radio', name='background_check', required='required', value='No')
								|  No 
							td
								input#background(type='radio', name='background_check', required='required', value='Not Sure')
								|  Not Sure
					br
					br
					label.aca(for='discrimination') Have you had Discrimination & Harassment Awareness training at CU? *
					table.style
						tr
							td
								input#discrimination(type='radio', name='awareness_training', required='required', value='Yes')
								|  Yes
							td
								input#discrimination(type='radio', name='awareness_training', required='required', value='No')
								|  No 
							td
								input#discrimination(type='radio', name='awareness_training', required='required', value='Not Sure')
								|  Not Sure
					br
					br
					label.aca(for='ssn') Please enter the last four digits of your Social Security Number so we can access your background check information.
					table.style
						tr
							td
								input#id.form-control(name='ssn', type='tel', placeholder=' ####', pattern='^[0-9]{4}', maxlength='4', size='5', data-error='Please, provide your SSN.', required='required')
					
					legend Skills, Resume, and Cover Letter: 
					h4 List three skills or qualifications that you feel make you a great candidate for the positions you selected:
					h4 Examples: Knowledge of a programming language, knowledge of a field, courses taken, personal characteristics, etc. 
					h5 Please note that responses are limited to 75 characters. 
					table.style
						tr
							td
								textarea.skill#skill(type='text', name='skill1', placeholder=' 1.', maxlength='75')
								span#char_count 75
								|  characters remaining
						tr
							td
								textarea.skill#skill(type='text', name='skill2', placeholder=' 2.', maxlength='75')
								span#char_count 75
								|  characters remaining
						tr
							td
								textarea.skill#skill(type='text', name='skill3', placeholder=' 3.', maxlength='75')
								span#char_count 75
								|  characters remaining
					br
					h4 To complete the application, you must submit a resume and a cover letter. 
					h4 Please use either the PDF format or a text document.
					br
					label.file(for='resume') Resume: 
					input#resume(type='file', name='resume' accept="application/pdf")
					br
					label.file(for='cover_letter') Cover Letter:
					input#cover-letter(type='file', name='cover_letter' accept="application/pdf")
					br
					br
					br
					input.btn.btn-success(type='save', value='Save')
					input.btn.btn-success(type='reset', value='Reset')
					input.btn.btn-success(type='submit', value='Submit')